h2 {
    text-align: center;
    display: block;
    margin: 0.5em auto;
}

.navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #333;
}

.btn.create {
    margin-bottom: 1.5em
}

td .btn {
    width: 60px
}

.display-card {
    padding: 2.5em;
    margin-top: 1.5em;
}

.login-register-buttons {
    display: grid;
    justify-content: end;
    margin-right: 15rem;
}

.login-btn {
    width: 150px;
}

.register-btn {
    width: 150px;
}

.update-btn {
    width: 80px;
}

.cancel-btn {
    width: 80px;
    margin-left: 1em;
}

.landing-page {
    background-image: url('https://media.istockphoto.com/id/1355089420/vector/new-letter-one-line.jpg?s=612x612&w=0&k=20&c=PUMkgJ3a4bvViOoQZlJxchg0aHDJPftGttIfcs3fzNE=');
    background-color: #B4DAFF;
    background-size: auto;
    background-position: center;
}

.with-opacity {
    opacity: 0.95;
}

.edit-card {
    margin-top: 1em;
    padding: 1.5rem;
}

.tox-tinymce {
    height: 250px !important;
}

.form-group label{
    margin-top: 1rem;
}

.form-switch .form-check-input {
    width: 3em;
    height: 1.5em;
}
