h2 {
    text-align: center;
    display: block;
    margin: 0.5em auto;
}

.navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #333;
}

.btn.create {
    margin-bottom: 1.5em
}

td .btn {
    width: 60px
}

.display-card {
    padding: 2.5em;
    margin-top: 1.5em;
}
