h2 {
    text-align: center;
    display: block;
    margin: 0.5em auto;
}

.navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #333;
}

.btn.create {
    margin-bottom: 1.5em
}

td .btn {
    width: 60px
}

.display-card {
    padding: 2.5em;
    margin-top: 1.5em;
}

.landing-page {
    background-image: url('public/images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #B4DAFF;
}

.login-register-buttons {
    display: grid;
    justify-content: end;
    margin-right: 15rem;
}

.login-btn {
    width: 150px;
}

.register-btn {
    width: 150px;
}

.update-btn {
    width: 80px;
}

.cancel-btn {
    width: 80px;
    margin-left: 1em;
}

.with-background {
    background-image: url('https://media.istockphoto.com/id/1395046093/photo/3d-letter-with-completed-task-or-checklist-in-envelope-isolated-on-background-with-empty-copy.jpg?s=612x612&w=0&k=20&c=efiJo9kso6Ho_4fe1IulfV_sbX5twVXwWXmaAi83NR0=');
    background-color: #B4DAFF;
}

.with-opacity {
    opacity: 0.95;
}

.edit-card {
    margin-top: 1em;
    padding: 1.5rem;
}

.tox-tinymce {
    height: 250px !important;
}

.form-group label{
    margin-top: 1rem;
}

.form-switch .form-check-input {
    width: 3em;
    height: 1.5em;
}
